.compare-bikes {
  &__wrapper {
    margin-top: 48px;

    display: grid;
    justify-items: center;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 48px;
    }

    @include on-desktop {
      margin-top: 56px;

      @include page-grid;
    }
  }

  &__product {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }
}
