.icon {
  display: block;
  width: 24px;
  height: 24px;
}

.icon--phone {
  background-image: url(../../images/icon/icon-phone.svg);
}

.icon--menu {
  background-image: url(../../images/icon/icon-burger-menu.svg);
}

.icon--close {
  background-image: url(../../images/icon/icon-close.svg);
}
