@mixin hover($property, $toValue){
  transition: #{$property} 0.3s;
  &:hover{
    #{$property}: #{$toValue};
  }
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;

  @include on-tablet{
    height: 32px;
    width: 32px;
  }

  @include hover (transform, scale(1.2));

  &--phone {
    background-image: url(../images/icon/icon-phone.svg);

    @include on-tablet{
      order: 1;
      &:hover + .top-bar__phone-number {
        display: flex;
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &--menu {
    background-image: url(../images/icon/icon-burger-menu.svg);

    &:hover{
      background-image: url(../images/icon/icon-burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../images/icon/icon-close.svg);
  }
}
