.move-free {
  @include page-grid;

  &--margin {
    @include on-tablet {
      margin-bottom: 12px;
    }

    @include on-desktop {
      margin-bottom: 20px;
    }
  }

  &__title {
    &--margin-bottom {
      margin-bottom: 32px;
    }

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__text {
    margin: 0;
    padding: 0;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: span 6;
    }

    font-weight: 500;
    font-size: 23px;
    line-height: 140%;
    color: $main-color-text;
  }
}
