.page {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: $main-color-text;

  scroll-behavior: smooth;

  &__body {
  margin: 0;
  min-width: 320px;

  background-color: $dark-color;//only for show
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transition:
        transform $effect-duration,
        opacity $effect-duration;
    opacity: 0;
    transform: translateX(-100%);
    pointer-events: none;


    &:target {
      opacity: 1;
      pointer-events: all;

      transform: translateX(0);
    }
  }

  &__footer{
    height: 200px;
    background-image: url(../images/footer-bg.png);
    background-size: cover;
    background-position: center;

    @include on-tablet{
      height: 480px;
    }
    @include on-desktop{
      height: 555px;
    }
  }
}

.main__content {
  display: grid;
  row-gap: 92px;
  padding-block: 60px;

  @include on-tablet {
    row-gap: 120px;
    padding-block: 120px;
  }
}


