.top-bar {
  padding-block: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-block: 36px;
  }

  &__icons {
    display: flex;
    gap: 24px;

    @include on-tablet {
      gap: 32px;
    }
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 38px;
    width: 130px;

    @include hover(transform, scale($transform-scale-photos));

    @include on-tablet {
      height: 56px;
      width: 187px;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    &-number {
      display: none;
      opacity: 0;
      pointer-events: none;

      color: $main-color-text;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;

      text-decoration: none;

      transition: all $effect-duration;
    }
  }
}
